html, body {
    background: #ffeead;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    color: #ffeead;
}


.container > div:nth-child(1n) {
    background-color: #96ceb4;
}

.container > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container > div:nth-child(2n) {
    background-color: #ff6f69;
}
.container > div:nth-child(4n) {
    background-color: #ffcc5c;
}